.screenshot-panel {
  padding: 10px;
}

.screenshot-panel__text {
  font-weight: 700;
}

.screenshot-panel__list {
  margin: 0;
  padding: 0;
}

.screenshot-panel__item {
  margin-bottom: 10px;
  list-style-type: none;
}

.screenshot-panel__success-text {
  font-weight: 700;
  font-size: 16px;
  color: #006d37;
}
