node_modules

*storybook.log
.DS_Store
tsconfig.tsbuildinfo
.idea

# Api
packages/api/database/
packages/api/dist/
packages/api/openapi.json
packages/api/redoc-static.html

# Application
packages/application/.next/

# Admin
packages/admin/.next/

# Core
packages/core/storybook-static/

# Example
packages/example/dist/

# Playwright
test-results
playwright-report
blob-report
playwright/.cache
